.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.1);
}

.modal {
  position: fixed;
  top: 20vh;
  left: 5%;
  width: 90%;
  height: auto;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

.close-button {
  position: absolute;
  top: 0.5rem; /* 自定义距离顶部的距离 */
  right: 0.5rem; /* 自定义距离右侧的距离 */
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  align-self: flex-end; /* 将按钮放置在右上角 */
}

/* #title {
  display: flex;
  justify-content: center;
} */

@media (min-width: 768px) {
  .modal {
    width: 35rem;
    left: calc(50% - 15rem);
  }
}

@media (max-width: 767px) {
  .modal {
    width: 35rem;
    left: calc(50% - 15rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
