.header {
  background-color: black;
  display: flex; /* 设置为 Flexbox 布局 */
  align-items: center; /* 在交叉轴上居中对齐元素 */
  padding: 10px; /* 可根据需要设置内边距 */
}

.header h3 {
  margin-left: 5rem;
  color: white; /* 设置标题文字颜色为白色 */
  margin-right: auto; /* 将标题推到左侧，并将其他元素推到右侧 */
}

.header input {
  /* 设置搜索输入框的样式 */
  flex: 1; /* 占据剩余的空间 */
  margin-left: 7rem;
  margin-right: 1rem; /* 设置右侧间距 */
}

.header button {
  background-color: transparent; /* 设置背景颜色为透明 */
  border: none; /* 移除按钮的边框 */
  color: white;
  margin-right: 2rem;
}
